.panel-body > .no-gutter:first-child {
  margin-top: -($grid-gutter-width/2 + 1);
}

// make tables and other panels span edge-to edge inside a container that
// has gutter-padding. on mobile, this means elements span all the way
// across
.no-gutter {
  margin-left: -($grid-gutter-width/2);
  margin-right: -($grid-gutter-width/2);
  > table.table tr {
    td:first-child,
    th:first-child {
      padding-left: ($grid-gutter-width/2);
    }
    td:last-child,
    th:last-child {
      padding-right: ($grid-gutter-width/2);
    }
  }
}


// override flash settings for iphone experience
@media (max-width: $screen-xs-max) {
  .no-gutter-xs {
    margin-left: -($grid-gutter-width/2);
    margin-right: -($grid-gutter-width/2);
    > table.table tr {
      td:first-child,
      th:first-child {
        padding-left: ($grid-gutter-width/2);
      }
      td:last-child,
      th:last-child {
        padding-right: ($grid-gutter-width/2);
      }
    }
  }
}

.panel-root {
  margin-bottom: 20px;
  .panel-heading {
    font-weight: bold;
    a {
      color: #777;
    }
  }
  .list-group {
    .glyphicon {
      /*color: darken($brand-primary, 10%);*/
    }
    a.list-group-item.active {
      color: #333;
      border-color: #ccc;
      background: #f5f5f5; // same as panel heading
    }
  }

}

